/*
  @theme Earthworm
  @override-placeholders css, html, php, php-html, javascript, python
  @author Ka Yue (http://ka-yue.com)
  @author Ian Beck
*/

@base {
	color: #FFF;
	background-color: #252525;
	insertion-point-color: #FFF;
	selection-background-color: #544E44;
	current-line-background-color: #FFFFFF;
	spell-check: disabled;
}

// String
string,
string *,
php string.quoted, php string.quoted * {
	color: #bbd065;
}

// SQL
string sql {
    color: #d4e784;
}

comment, 
comment > punctuation, 
comment > delimiter, 
comment.block, 
comment.block > punctuation, 
comment.line, comment.line > punctuation, 
comment.single-line, comment.single-line > 
punctuation {
	color: #776644;
}

// function name
class name, 
function name, 
js function,
js entity.name.function {
	color: #ffa92c;
}

// build-in function
support.function,
support.function *,
js support.function,
php identifier.function name {
    color: #f89e65;
}

function delimiter.parenthesis, function delimiter.separator {
	color: #fff;
}

pointer, php pointer,
delimiter,
delimiter *,
brace,
punctuation {
	color: #FFF;
}

// keywords (function, if, this, modifier ...)
keyword,
keyword.control {
	color: #fff685;
}

// operator
operator,
js operator,
php operator {
    color: #FFF;
}

// variable identifier
identifier,
variable {
	color: #e8bf6a;
}

constant {
    color: #e3927c;
}

value {
	color: #FFF;
}

integral.value {
    color: #bdb7f5;
    background: #222;
}

/* @group HTML+XML */

text.html.basic {
    color: #FFF;
}

html doctype, html doctype name, html doctype punctuation,
xml processing-instruction, xml processing-instruction string, xml processing-instruction string value {
	color: #776644;
}

tag,
tag * {
	color: #e8bf6a;
}

html tag entity.name,
xml tag entity.name {
    color: #f9d488;
}

/* @end */

/* @group CSS */

styling {
	spell-check: disabled;
}

css selector {
	color: #CDDE87;
}

css property-name {
	color: #e8bf6a;
}

css property-value,
css property-value punctuation.definition {
	color: #abc837;
}

css punctuation.separator, css punctuation.terminator {
	color: #fff;
}

/* @end */

/* @group Javascript */

// variables
js,
js variable,
js variable.parameter {
    color: #e8bf6a;
    spell-check: disabled;
}

// window, className etc
js support,
js support.constant {
    color: #fff6a7;
}

// keywords
js storage.type,
js keyword.operator.new {
    color: #fff6a7;
}

/* @end */

/* @group PHP */

php embedded.source, embedded.source.php {
	spell-check: disabled;
}

php delimiter.embedded.source, 
php delimiter.embedded.source keyword {
	color: #FFF;
}

// keywords (public, function, modifier)
php keyword.constant.class,
php keyword.definition,
php keyword.modifier {
    color: #ded89e;
}

// variables & parameters
php identifier.variable, 
php identifier.variable *,
php identifier.variable.class.static.property property.name,    // self::$instance 
php identifier.parameter * {
	color: #e8bf6a;
}

// object property, method & class name
php identifier.object.property,
php identifier.function.object.method name {
    color: #f4e7b5;
}

// literal keywords (true/false)
php literal.keyword,
php literal.keyword * {
    color: #f8c2d9;
}

// unkown constant
php keyword.constant.other,
php keyword.constant.echo {
    color: #FFF;
}

// php doc
php metadata * {
	color: #776644;
}

/* PHP+HTML overrides */

// php inside attribute
php.html attribute-value.value embedded.block delimiter {
    color: #FFF;
}

php.html tag name {
	color: #e8bf6a;
}

php.html tag.doctype name {
	color: #776644;
}

/* @end */

/* @group ExpressionEngine */

ee.tag, ee.operator, ee.attribute-name,
ee ee.tag > ee.name, ee ee.tag > ee.punctuation, ee ee.tag.conditional,
ee ee.tag ee.attribute-name {
	color: #CDDE87;
}

ee ee.tag ee.attribute-name {
	font-weight: normal;
}

ee ee.tag.self-closing.conditional {
	background: #333;
}

ee.attribute, ee ee.tag ee.attribute {
	color: #abc837;
}

/* @end */

/* @group Actionscript */

as3 keyword.as3, as3 keyword.bool {
	color: #e8bf6a;
}

as3 keyword.function.as3 {
	color: #EE0F04;
}

as3 method name, as3 keyword.operators.as3 {
	color: #fff;
}

as3 integral.value {
	background: #333;
}

as3 keyword.class.as3 {
	color: #CDDE87;
}

/* @end */

/* @group ColdFusion */

cfm.tag {
	color: #CDDE87;
}

cfm operator, cfm keyword {
	color: #e8bf6a;
}

cfml.embedded output {
	color: #fff;
}

cfml.embedded coldfusion.embedded {
	color: #e8bf6a
}

function.cfm > parenthesis {
	color: #CDDE87;
}

/* @end */

/* @group Python */
python,
python variable {
    color: #e8bf6a;
    spell-check: disabled;
}

python parameters {
    color: #FFF;
}